
  .nav-link {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #F6E05E;
    padding: 10px 0px;
    margin: 0px 10px;
    display: inline-block;
    position: relative;
  }
  
  
  .nav-link::before {
    transition: 300ms;
    height: 3px;
    content: "";
    position: absolute;
    background-color: #F6E05E;
  }
  
  .nav-link-ltr::before {
    width: 0%;
    bottom: 0px;
  }
  
  .nav-link-ltr:hover::before {
    width: 100%;
  }
  